<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous"></script>
<div class="container">
		<div style="width:84%;float:left">
 		<ul>
 			<li><a href="/">HOME</a></li>
             <!-- Don't think we need this link if we are already on that page -->
             <!--<li><a href="/broadband/broadbandPlans">PLANS</a></li>-->
		    <li><a href="/broadband/aboutus">ABOUT US</a></li>
 		</ul>	
 		</div>
 		<div style="width: 16%;float:right"> 
        {{#if userName}}
            <h2 class="userType">{{userName}}</h2>
        {{else}}
        <h2 class="userType" hidden>guest</h2>
 		<ul>	
            <li><a href="/users/signup">REGISTER</a></li>
			<li><a href="/users/login">LOGIN</a></li>
 		</ul>
         {{/if}}	
 		</div>
</div>

<a href="/broadband/statistics" target="_blank">Check Statistics</a>
<h2 class="table_heading">Broadband Plans</h2>
<div style="width:100%;float:left">
    {{#if error}}
        <p>{{error}}</p>
    {{/if}}
	<table id='plansTable' border="0">
        <tr>
            <th colspan="3">Plan Name</th>
            <th colspan="3">Cost</th>
            <th colspan="3">Validity</th>
            <th colspan="3">Limit</th>
            <th colspan="3">Discount</th>
            <th colspan="4">Statistics</th>

            <th colspan="3"></th>
        </tr>
        {{#each broadbandList}}
        <tr>
            <td colspan="3"><p id='planName'>{{this.planName}}</p></td>
            <td colspan="3"><p id='price'>{{this.price}}</p></td>
            <td colspan="3"><p id='validity'>{{this.validity}}</p></td>
            <td colspan="3"><p id='limit'>{{this.limit}}</p></td>
            <td colspan="3"><p id='discount'>{{this.discount}}</p></td>
            <td colspan="4"><p id='ststs'>{{this.userID.length}}</p></td>

            
          
            <td colspan="3"><button type="submit" class="select" >Subscribe</button></td>
         <form >
            <td colspan="3"><button type="submit" class="delete" formmethod="post" formaction="/broadband/scrap/{{this.planName}}">Delete</button></td>
            {{!-- <td colspan="3"><button type="submit" class="update" formmethod="get" formaction="/broadband/getByName/{{this.planName}}" >Update</button></td> --}}
            <a href="/broadband/getByName/{{this._id}}">Update</a>
         </form>
        </tr>{{/each}}
    </table>
     <a href="/broadband/newPlan">Add New Plan</a>
</div>
<script src="/public/js/broadbandScript.js"></script>
