<h2>BroadBand Plans</h2>
{{#if broadbandList}}
    <ol>
    {{#each broadbandList}}
        <li>{{this.planName}}<br></li>
        <li>{{this.price}}<br></li>
        <li>{{this.validity}}<br></li>
        <li>{{this.limit}}<br></li>
        <li>{{this.discount}}<br></li>
    {{/each}}
    </ol>
{{/if}}
