<div class="container">
		<div style="width:84%;float:left">
 		<ul>
 			<li><a href="/">HOME</a></li>
            {{#if userName}} 
		        <li><a href="users/profile">PROFILE</a></li>
                <li><a href="users/logout">LOGOUT</a></li>
                <li><a href="/appointment">CREATE APPOINTMENT</a></li>

                
            {{/if}}
		    <li><a href="/broadband/aboutus">ABOUT US</a></li>
            <li><a href="/broadband/broadbandPlans">PLANS</a></li>
 		</ul>	
 		</div>
 		<div style="width: 16%;float:right">
        <ul> 
        {{#if userName}}      

         {{else}}
          	
            <li><a href="/users/signup">REGISTER</a></li>
			<li><a href="/users/login">LOGIN</a></li>
 		    
        {{/if}}	
        </ul>
 		</div>
</div>

<h1>Welcome to BroadBand Website!!!</h1>
{{#if userAppointmentRequest}}
        <p>Hey {{userAppointmentRequest.userName}} you have appointment on {{userAppointmentRequest.date}}</p>
{{/if}}
<img id="myimg" src="/public/img/server_room.jpg" width="100%" height="100%">
		<br><br>
		<div style="width:100%">
		<div class="center">
			<div class="temp">Customized Internet for Customers</div>
			<br>
			<div class="temp1">
			Your Partners!</div>
			<br>
			<div class="temp2">SPECIAL FEATURES</div>
		</div>
		</div>
		<br><br><br>
		<div class="voidx">&nbsp
		</div>
		<div class="box">
			<h3>Instant Setup</h3><h5>We Provide Connectivity Setup within a day</h5>
		</div>
		<div class="voidx">&nbsp
		</div>
		<div class="box">
			<h3>Better Uptime</h3><h5>Hassle free! We assure & provide 99.9% uptime.</h5>
		</div>
		<div class="voidx">&nbsp
		</div>
		<div class="box">
			<h3>Reliable Speed</h3><h5>Speed is most important factor, we deliver unmatchable speed.</h5>
		</div>

{{#if userName}}
    {{#if isAdmin}}
    <h2>{{userName}}</h2>
    <a href="/broadband/newPlan">Add Broadband service</a><br>
    <a>Update BroadBand service</a><br>
    <a>Delete Broadband service</a><br>
    <a>Check user Requests</a><br>

    <a href="users/logout">Logout</a><br>
    {{else}}
    <h2>{{userName}}</h2>
    {{/if}}

{{/if}}