<div class="container">
		<div id="interior">
 		<ul>
 			<li><a href="/">HOME</a></li>
            <li><a href="/broadband/broadbandPlans">PLANS</a></li>

            {{#if userName}} 
				
                {{!-- <li><a href="users/logout">LOGOUT</a></li> --}}
				{{#if isAdmin}}

    			{{!-- <li><a>Update BroadBand service</a></li>
    			<li><a>Delete Broadband service</a></li> --}}
    			<li><a href="/allappointments">CHECK USER REQUESTS</a></li>
				{{else}}
                <li><a href="/broadband/contactus">CONTACT US</a></li>
		        {{!-- <li><a href="users/profile">PROFILE</a></li> --}}
                <li><a href="/appointment">CREATE APPOINTMENT</a></li>
                
				{{/if}}

            {{/if}}
			
            {{!-- {{#if userName}}
			{{#if isAdmin}}
			{{else}}
			<li><a href="checkout/yourorders">YOUR ORDER</a></li>
			{{/if}}
		    {{/if}} --}}
		    

 		</ul>	
 		</div>
 		<div id="interior2">
        <ul> 
        {{#if userName}}      
		<li><a href="/users/profile">PROFILE</a></li>
			<li><a href="/users/logout">LOGOUT</a></li>
         {{else}}
            <li><a href="/users/signup">REGISTER</a></li>
			<li><a href="/users/login">LOGIN</a></li>
        {{/if}}	
        </ul>
 		</div>
</div>


<div class="void">
</div>
<div class="form_center">
<form id="newPlan" action="/broadband/insert" method="POST">
<fieldset>
    <legend><h1>NEW PLAN</h1></legend>
    <div class="inputs">
	    <div class="group">
        <input type="text" id="planName" name="planName" value="{{planName}}">
        <span class="bar"></span>
	    <label for="planName">NAME OF THE PLAN</label>
	</div>
    {{!-- <input type="password" name="password"><br> --}}
    <div class="group">
        <input type="text" id="price" name="price" value="{{price}}">
        <span class="bar"></span>
        <label for="price">PRICE</label>
	</div>
     <div class="group">
        {{!-- <input type="text" id="validity" name="validity" value="{{validity}}"> --}}
        <span class="bar"></span>
        <label for="validity">VALIDITY</label>
	</div>
    <select id="validity" name="validity">
			<option class="validity" selected="" value="">SELECT A PLAN</option>
			<option value="1">1 Month</option>
			<option value="3">3 Month</option>
			<option value="6">6 Month</option>
            <option value="12">12 Month</option>
	</select><br><br><br><br>
    <div class="group">
        <input type="text" id="limit" name="limit" value="Unlimited" readonly>
        <span class="bar"></span>
        <label for="limit">LIMIT</label>
	</div>
    <div class="group">
        <input type="text" id="discount" name="discount" value="{{discount}}">
        <span class="bar"></span>
        <label for="discount">DISCOUNT</label>
	</div>
    {{!-- <input type="text" name="address"><br>
    <input type="text" name="city"><br>
    <input type="number" name="zipCode"><br> --}}
    {{#if error}}
    <div>{{error}}</div>
    {{/if}}
    <div id="error" hidden></div>
    <br>
    <div>
        <input id="reg" type="submit" value="Submit"> 
    </div>
    </div>
    </fieldset>
</form>
</div>
<script src="/public/js/newPlan.js"></script>

