<div class="container">
		<div id="interior">
 		<ul>
 			<li><a href="/">HOME</a></li>
			<li><a href="/broadband/broadbandPlans">PLANS</a></li>

            {{#if userName}} 
				
                {{!-- <li><a href="users/logout">LOGOUT</a></li> --}}
				{{#if isAdmin}}
				{{!-- <li><a href="/broadband/newPlan">Add Broadband service</a></li> --}}
    			{{!-- <li><a>Update BroadBand service</a></li>
    			<li><a>Delete Broadband service</a></li> --}}
    			<li><a href="/allappointments">CHECK USER REQUESTS</a></li>
				{{else}}
                <li><a href="users/referafriend">REFER A FRIEND</a></li>
		        {{!-- <li><a href="users/profile">PROFILE</a></li> --}}
                <li><a href="/appointment">CREATE APPOINTMENT</a></li>
				{{/if}}

            {{/if}}
            {{#if userName}}
			{{#if isAdmin}}
			{{else}}
			<li><a href="/checkout/yourorders">YOUR ORDER</a></li>
            <li><a href="/broadband/contactus">CONTACT US</a></li>
			{{/if}}
            {{else}}
            {{!-- <li><a href="/broadband/contactus">CONTACT US</a></li> --}}
		    {{/if}}
		    

 		</ul>	
 		</div>
 		<div id="interior2">
        <ul> 
        {{#if userName}}      
		<li><a href="/users/profile">PROFILE</a></li>
			<li><a href="/users/logout">LOGOUT</a></li>
         {{else}}
            <li><a href="/users/signup">REGISTER</a></li>
			<li><a href="/users/login">LOGIN</a></li>
        {{/if}}	
        </ul>
 		</div>
</div>


<div class="void">
</div>
<div class="form_center">
<form id="updatePlan" action="/broadband/update" method="POST">
    <legend><h1>UPDATE PLAN</h1></legend>
    <div class="inputs">
        <input  type="hidden" name="id" value="{{id}}" >
	    <div class="group">
        <input type="text" name="planName" id="planName" value="{{planName}}" readonly>
        <span class="bar"></span>
	    <label for="planName">NAME OF THE PLAN</label>
	</div>
    {{!-- <input type="password" name="password"><br> --}}
    <div class="group">
        <input type="text" name="price" id="price" value="{{price}}">
        <span class="bar"></span>
        <label for="price">PRICE</label>
	</div>
    <div class="group">
        {{!-- <input type="text" name="validity" value="{{plan.validity}}" readonly> --}}
        <span class="bar"></span>
        <label for="validity">VALIDITY</label>
	</div>
     <select id="validity" name="validity">
			<option class="validity" selected="" value="{{validity}}">{{validity}} Month</option>
			<option value="1">1 Month</option>
			<option value="3">3 Month</option>
			<option value="6">6 Month</option>
            <option value="12">12 Month</option>
	</select><br><br><br><br>
    <div class="group">
        <input type="text" id="limit" name="limit" value="Unlimited" readonly>
        <span class="bar"></span>
        <label for="limit">LIMIT</label>
	</div>
    <div class="group">
        <input type="text" id="discount" name="discount" value="{{discount}}">
        <span class="bar"></span>
        <label for="discount">DISCOUNT</label>
	</div>
    {{#if error}}
    <div>{{error}}</div>
    {{/if}}
        <div id="error" hidden></div>
<br>
    <div>
        <input id="reg" type="submit" value="Update"> 
    </div>
    </div>
</form>
</div>
<script src="/public/js/updatePlan.js"></script>

