<h1>Payment has been approved</h1>

<br><br>
<h2> Tax Bill/Invoice</h2>

<table>
<tr>

</tr>
<th>Order Id: {{orderId}} </th><br>
<th>Ordered Date: {{billDate}}</th><br>
<tr>
<th>Plan Id: {{planSelectedId}}</th><br>
<th>Price: {{name}}</th><br>
<th>Price: {{price}}</th><br>
<th>validity: {{validity}}</th><br>
</tr>
<tr>
<th>firstName : {{firstName}}</th><br>
<th>lastName : {{lastName}}</th><br>
<th>email : {{email}}</th><br>
<th>dateOfBirth : {{dateOfBirth}}</th><br>
<th>phoneNo : {{phoneNo}}</th><br>
<th>address : {{address}}</th><br>
<th>city : {{city}}</th><br>
<th>state : {{state}}</th><br>
<th>zipCode : {{zipcode}}</th><br>
</tr>
</table>