<div class="container">
		<div style="width:84%;float:left">
 		<ul>
 			<li><a href="/">HOME</a></li>
             {{!-- Don't think we need this link if we are already on that page --}}
             <li><a href="/broadband/broadbandPlans">PLANS</a></li>
		    <li><a href="/contact/contactus">CONTACT US</a></li>
 		</ul>	
 		</div>
 		<div style="width: 16%;float:right"> 
        {{!-- {{#if userName}}
            <h2 class="userType">{{userName}}</h2>
        {{else}}
        <h2 class="userType" hidden>guest</h2> --}}
 		<ul>	
        {{#if userName}}      
		    <li><a href="/users/profile">PROFILE</a></li>
		    <li><a href="/users/logout">LOGOUT</a></li>
        {{else}}
            <li><a href="/users/signup">REGISTER</a></li>
		    <li><a href="/users/login">LOGIN</a></li>
        {{/if}}
 		</ul>
         {{!-- {{/if}}	 --}}
 		</div>
</div>
<h1>Payment has been approved</h1>

<br><br>
<h2> Tax Bill/Invoice</h2>

<table>
<tr>

</tr>
<th>Order Id: {{orderId}} </th><br>
<th>Ordered Date: {{billDate}}</th><br>
<tr>
<th>Plan Id: {{planSelectedId}}</th><br>
<th>Plan name: {{name}}</th><br>
<th>Price: {{price}}</th><br>
<th>Validity: {{validity}}</th><br>
</tr>
<tr>
<th>First Name : {{firstName}}</th><br>
<th>Last Name : {{lastName}}</th><br>
<th>Email : {{email}}</th><br>
<th>DateOfBirth : {{dateOfBirth}}</th><br>
<th>PhoneNo : {{phoneNo}}</th><br>
<th>Address : {{address}}</th><br>
<th>City : {{city}}</th><br>
<th>State : {{state}}</th><br>
<th>ZipCode : {{zipcode}}</th><br>
</tr>
</table>