<h1>Payment has been approved</h1>

<br><br>
<h2> Tax Bill/Invoice</h2>

<p>Order Id: {{orderId}} </p><br>
<p>Ordered Date: {{billDate}}</p><br>
<p>firstName : {{firstName}}</p><br>
<p>lastName : {{lastName}}</p><br>
<p>email : {{email}}</p><br>
<p>dateOfBirth : {{dateOfBirth}}</p><br>
<p>phoneNo : {{phoneNo}}</p><br>
<p>address : {{address}}</p><br>
<p>city : {{city}}</p><br>
<p>state : {{state}}</p><br>
<p>zipCode : {{zipcode}}</p><br>