<h2>Appointment Request</h2>
{{#if AppointmentRequest}}
    <ol>
    {{#each AppointmentRequest}}
        <li>Username: {{this.userName}}<br>
            EmailId:{{this.email}}     
            Date: {{this.date}}<br>
            Querises: {{this.queries}}<br>
            RequestType: {{this.requestType}}<br>
        </li>
    {{/each}}
    </ol>
{{/if}}
