<div class="container">
		<div id="interior">
 		<ul>
 			<li><a href="/">HOME</a></li>
			 {{#if userName}}
                <li><a href="/appointment">CREATE APPOINTMENT</a></li>
            {{/if}}
             {{!-- Don't think we need this link if we are already on that page --}}
             <li><a href="/broadband/broadbandPlans">PLANS</a></li>
			{{#if userName}}
			{{#if isAdmin}}
			{{else}}
			<li><a href="/checkout/yourorders">YOUR ORDER</a></li>
			{{/if}}
		    {{/if}}
		    <li><a href="/broadband/contactus">CONTACT US</a></li>
 		</ul>	
 		</div>
 		<div id="interior2"> 
        {{!-- {{#if userName}}
            <h2 class="userType">{{userName}}</h2>
        {{else}}
        <h2 class="userType" hidden>guest</h2> --}}
 		<ul>	
        {{#if userName}}      
		    <li><a href="/users/profile">PROFILE</a></li>
		    <li><a href="/users/logout">LOGOUT</a></li>
        {{else}}
            <li><a href="/users/signup">REGISTER</a></li>
		    <li><a href="/users/login">LOGIN</a></li>
        {{/if}}
 		</ul>
         {{!-- {{/if}}	 --}}
 		</div>
</div>
<div>
	<h1>Your Appointments</h1>
	{{#if userName}}
	{{#if appointmentdate}}
    	<ol>
    		{{#each appointmentdate}}
				<li>Hey {{userName}} you have an appointment on {{date}}</li>
			{{/each}}
			
		</ol>
	{{/if}}
{{/if}}
</div>