<h1>User Profile</h1>
<p>Username : {{userName}}</p><br>
<p>fullName : {{fullName}}</p><br>
<p>email : {{email}}</p><br>
<p>dateOfBirth : {{dateOfBirth}}</p><br>
<p>phoneNo : {{phoneNo}}</p><br>
<p>address : {{address}}</p><br>
<p>city : {{city}}</p><br>
<p>state : {{state}}</p><br>
<p>zipCode : {{zipCode}}</p><br>
