<div class="container">
		<div class="div6">
 		<ul>
 			<li><a href="/">HOME</a></li>
             <li><a href="/broadband/broadbandPlans">PLANS</a></li>
		    <li><a href="/broadband/contactus">CONTACT US</a></li>
 		</ul>	
 		</div>
 		<div class="div3"> 
 		<ul>	
            {{!-- <li><a href="users/signup">REGISTER</a></li> --}}
			<li><a href="/users/login">LOGIN</a></li>
 		</ul>	
 		</div>
</div>



{{!-- <h2>Signup Form</h2> --}}

{{#if error}}
    <p>{{error}}</p>
{{/if}}
<div class="void">
</div>
<div class="form_center">
<form id="signup-form" name="registration" action="signup" method="POST">
    <h1>REGISTRATION FORM</h1>
    <div id="error" hidden></div>
    <div class="inputs">
        <div class="group"> 
            <input type="text" id="userName" name="userName" value='{{userName}}'>
            <span class="bar"></span>
            <label id="1" for="userName">USERNAME</label>
	    </div>
        <div class="group">
            <input type="password" id="password" name="password" value='{{password}}'>
            <span class="bar"></span>
            <label id="2" for="password">PASSWORD</label>
	    </div>
        <div class="group">
            <input type="text" id="firstName" name="firstName" value='{{firstName}}' >
            <span class="bar"></span>
            <label id="3" for="firstName">FIRST NAME</label>
	    </div>
        <div class="group">
            <input type="text" id="lastName" name="lastName" value='{{lastName}}' >
            <span class="bar"></span>
            <label id="4" for="lastName">LAST NAME</label>
	    </div>
        <div class="group">
            <input type="email" id="email" name="email" value='{{email}}' >
            <span class="bar"></span>
            <label id="5" for="email">EMAIL</label> 
	    </div>
        <div class="group">
            <input type="date" id="dob" name="dateOfBirth" value='{{dateOfBirth}}'>
            <span class="bar"></span>
            <label id="6" for="dob">DATE OF BIRTH</label>
	    </div>
        <div class="group">
            <input type="text" id="phoneNo" name="phoneNo" value='{{phoneNo}}' >
            <span class="bar"></span>
            <label id="7" for="phoneNo">PHONE NUMBER</label>
	    </div>
        <div class="group">
            <input type="text" id="addr" name="address" value='{{address}}' >
            <span class="bar"></span>
            <label id="8" for="addr">ADDRESS</label>
	    </div>
        <div class="group">
            <input type="text" id="city" name="city" value='{{city}}' >
            <span class="bar"></span>
            <label id="9" for="city">CITY</label>
	    </div>
        <div class="group">
            <input type="text" id="state" name="state" value='{{state}}'>
            <span class="bar"></span>
            <label id="10" for="state">STATE</label>
	    </div>
        <div class="group">
            <input type="text" id="zip" name="zipcode" value='{{zipcode}}'>
            <span class="bar"></span>
            <label id="11" for="zip">ZIPCODE</label>
	    </div>
    </div>
    <div>
        <input id="reg" type="submit" value="Submit"> 
    </div>
</form>
</div>


<script src="/public/js/signup.js"></script>