


<div class="container">
		<div style="width:94%;float:left">
 		<ul>
 			<li><a href="/">HOME</a></li>
             <li><a href="/broadband/broadbandPlans">PLANS</a></li>
		    <li><a href="/broadband/aboutus">ABOUT US</a></li>
 		</ul>	
 		</div>
 		<div style="width: 6%;float:right"> 
 		<ul>	
            {{!-- <li><a href="users/signup">REGISTER</a></li> --}}
			<li><a href="/users/login">LOGIN</a></li>
 		</ul>	
 		</div>
</div>



{{!-- <h2>Signup Form</h2> --}}

{{#if error}}
    <p>{{error}}</p>
{{/if}}
<div class="void">&nbsp
</div>
<div class="form_center">
<form id="signup-form" name="registration" action="signup" method="POST">
    <legend><h1>REGISTRATION FORM</h1></legend>
    <div class="inputs">
        <div class="group"> 
            <input type="text" name="userName" value={{userName}}>
            <span class="bar"></span>
            <label>USERNAME</label>
	    </div>
        <div class="group">
            <input type="password" name="password" value={{password}}>
            <span class="bar"></span>
            <label>PASSWORD</label>
	    </div>
        <div class="group">
            <input type="text" name="firstName" value={{firstName}} >
            <span class="bar"></span>
            <label>FIRST NAME</label>
	    </div>
        <div class="group">
            <input type="text" name="lastName" value={{lastName}} >
            <span class="bar"></span>
            <label>LAST NAME</label>
	    </div>
        <div class="group">
            <input type="email" name="email" value={{email}} >
            <span class="bar"></span>
            <label>EMAIL</label> 
	    </div>
        <div class="group">
            <input type="date" name="dateOfBirth" placeholder="YYYY-MM-DD" pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}" value={{dateOfBirth}}>
            <span class="bar"></span>
            <label>DATE OF BIRTH</label>
	    </div>
        <div class="group">
            <input type="text" name="phoneNo" value={{phoneNo}} >
            <span class="bar"></span>
            <label>PHONE NUMBER</label>
	    </div>
        <div class="group">
            <input type="text" name="address" value={{address}} >
            <span class="bar"></span>
            <label>ADDRESS</label>
	    </div>
        <div class="group">
            <input type="text" name="city" value={{city}} >
            <span class="bar"></span>
            <label>CITY</label>
	    </div>
        <div class="group">
            <input type="text" name="state" value={{state}}>
            <span class="bar"></span>
            <label>STATE</label>
	    </div>
        <div class="group">
            <input type="number" name="zipCode" value={{zipCode}}>
            <span class="bar"></span>
            <label>ZIPCODE</label>
	    </div>
    </div>
    <div>
        <input id="reg" type="submit" value="Submit"> 
    </div>
</form>
</div>
