<div class="container">
		<div style="width:84%;float:left">
 		<ul>
 			<li><a href="/">HOME</a></li>
             {{!-- Don't think we need this link if we are already on that page --}}
             <li><a href="/broadband/broadbandPlans">PLANS</a></li>
             {{#if userName}}
			{{#if isAdmin}}
			{{else}}
			<li><a href="checkout/yourorders">YOUR ORDER</a></li>
			{{/if}}
		    {{/if}}
		    <li><a href="/contact/contactus">CONTACT US</a></li>
 		</ul>	
 		</div>
 		<div style="width: 16%;float:right"> 
        {{!-- {{#if userName}}
            <h2 class="userType">{{userName}}</h2>
        {{else}}
        <h2 class="userType" hidden>guest</h2> --}}
 		<ul>	
        {{#if userName}}      
		    <li><a href="/users/profile">PROFILE</a></li>
		    <li><a href="/users/logout">LOGOUT</a></li>
        {{else}}
            <li><a href="/users/signup">REGISTER</a></li>
		    <li><a href="/users/login">LOGIN</a></li>
        {{/if}}
 		</ul>
         {{!-- {{/if}}	 --}}
 		</div>
</div>

<h2>Update Profile</h2>
{{#if error}}
    <p>{{error}}</p>
{{/if}}
<div id='error' hidden></div>
<form id='update-form' action='update' method='POST'>
    <label for="userName"></label><input type='text' id="userName" name='userName' id='userName' value='{{userName}}'>
    <label for="password"></label><input type='password' id="password" name='password' id='password' value='{{password}}'>
    <label for="firstName"></label><input type='text' id="firstName" name='firstName' id='firstName' value='{{firstName}}'>
    <label for="lastName"></label><input type='text' id="lastName" name='lastName' id='lastName' value='{{lastName}}'>
    <label for="email"></label><input type='email' id="email" name='email' id='email' value='{{email}}'>
    <label for="dob"></label><input type='date' id="dob" name='dateOfBirth' id='dateOfBirth' value='{{dateOfBirth}}'>
    <label for="phoneNo"></label><input type='text' id="phoneNo" name='phoneNo' id='phoneNo' value='{{phoneNo}}'>
    <label for="addr"></label><input type='text' id="addr" name='address' id='address' value='{{address}}'>
    <label for="city"></label><input type='text' id="city" name='city' id='city' value='{{city}}'>
    <label for="state"></label><input type='text' id="state" name='state' id='state' value='{{state}}'>
    <label for="zip"></label><input type='text' id="zip" name='zipcode' id='zipcode' value='{{zipcode}}'>

    <input type='submit' value="Update Profile">

    <input name= '_method' value="PUT" type='hidden'>
</form>

<script src="/public/js/update.js"></script>